<!DOCTYPE html>
{%extends 'base.html'%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <title>{%block title%}Buscador{%endblock%}</title>
</head>

<body>

    {%block content%}  

        <div class="content">

            <!-- <div class="relative-indexmain">
                <div class="absoluto-indexmain">
                    {{Total}}
                </div>
            </div> -->

            <h1 class="tituloBuscador">Buscar Producto</h1>
        
            <form action="" method="post" class="Form-buscador">

                
                <input type="text" name="buscador" id="buscador" placeholder="Escribe el producto que deseas buscar">

                <button type="submit" class="botonBuscador"><i class="fa-solid fa-magnifying-glass"></i></button>

                

            </form>

            {%if Diccionario == []%}
                <div class="BusquedaErronea-buscador">

                    <img src="/static/imagenes/imagenesMain/BusquedaErronea.png" alt="" width="450" height="450">

                    <h5>Parece que no se encuentra este producto. <br> Intenta con otro.</h5>

                </div>
            {%endif%} 

            <div class="result BuscadorProductos">

                {%for dict in Diccionario%}

                    <div class="Busqueda">

                        {%for key, value in dict.items()%}

                            {%if loop.index == 2%}
                                <a href="{{url_for('DBox.buscar_id',id=dict['id'])}}" class="enlaceImg"><img src="/static/imagenes/imagenesProductos/{{value}}.jpg" alt="" width="200" height="200"></a>
                            
                            {%elif loop.index==3%}

                                <div class="enlaceProducto-buscador">
                                    <a href="{{url_for('DBox.buscar_id',id=dict['id'])}}" class="enlaceProducto">{{value}}</a>
                                </div>
                                
                                
                            {%elif loop.index==4%}
                                <a href="{{url_for('DBox.buscar_id',id=dict['id'])}}" class="precio">${{value}}</a>
                                <!-- <p class="precio">{{value}}$</p> -->
                            {%elif loop.index==5%}
                                <p><span class="Stock-buscador">Cantidad en stock:</span>{{value}}</p>
                            {%endif%}
                    
                        {%endfor%}
                        <!-- <a href="{{url_for('DBox.buscar_id',id=dict['id'])}}" class="boton-buscador">Over here.</a> -->
                        <!-- <button class="boton-buscador"></button> -->
                        
                    </div>
                {%endfor%}

            </div>

        </div>

    {%endblock%}

</body>

</html>