<!DOCTYPE html>
{%extends 'base.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{{productos['producto']}}{%endblock%}</title>
</head>
<body>
    {%block content%}

        <div class="content">

            <div class="relative-indexmain">
                <div class="absoluto-indexmain">
                    {{Total}}
                </div>
            </div>
            <!-- <h1>Vale, este es un pequeño paso.</h1> -->

            {%for category,message in get_flashed_messages(with_categories=true)%}  

                {%if category == 'message'%}
                    <div class="alert alert-success alert-dismissible fade show " role="alert">
                        <strong style="text-align: center;">{{message}}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {%else%}
                    <div class="alert alert-danger alert-dismissible fade show " role="alert">
                        <strong style="text-align: center;">{{message}}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {%endif%}

                

            {%endfor%} 

  
            <div class="cajaProducto">

                <img src="/static/imagenes/imagenesProductos/{{productos['imgNombre']}}.jpg" alt="" width="350" height="350">


                <div class="infoProducto">
                    <h3><strong>{{productos['producto']}}</strong></h3>
                    
                    <p class="precioProducto">USD {{productos['precio']}}$</p>
                    <p>Estado: idk</p>

                    <form action="{{url_for('DBox.AgregarCarrito',id=productos['id'])}}" method="post">

                        <p>Cantidad disponible: 
                            <span>
                                <select name="selected" id="">
                                    {%for n in range(1,productos['cantidad']+1)%}
                                        <option value="{{n}}">{{n}}</option>
                                    {%endfor%}
                                </select>
                            </span> 
                            <span class="CantidadDisponible Stock">Hay {{productos['cantidad']}} en stock.</span>
                        </p>
    
                        <div class="botonesProductos">
                            
                            <a href="#" class="ProductoBoton">Comprar ya</a>
                            <button type="submit" class="ProductoBoton añadir">Añadir al carrito.</button>

                        </div>

                </div>
                
            </div>

        </div>
        
    {%endblock%}
</body>
</html>