@media (max-width:1360px) {
    
    .overflow-pago{

        /* background-color: aqua; */
        width: 85%;
        margin-left: 70px;

    }


}

@media (max-width:1250px) {
    
    .content{

        margin-top: 90px;

    }

    .login-registro h1{

        font-size: 32px;

    }

    .enlace{

        width: 200px;
        height: 45px;
        line-height: 45px;

    }

    .login-registro img{

        width: 300px;
        height: 200px;

    }

    .texto{

        font-size: 15px;

    }


    .plantillaform h1{

        font-size: 35px;

    }

    .carritoCompra h5{

        font-size: 15px;

    }

}

@media (max-width:1170px){

    .container-opciones{

        width: 87%;
        margin-left: 8%;

    }

    .elementoA{

        padding: 15px;
        
    }

    .elementoA p{

        font-size: 15px;
        
    }

    .elementoB img{

        width: 150px;
        height: 150px;
        margin-top: 25px;

    }
    

    .container-checkbox-Pago{

        font-size: 15px;

    }

}

@media (max-width:1100px){

    #buscador{

        width: 100%;
        
    }

    .Flex-producto img{

        width: 250px;
        height: 250px;
    }

}

@media (max-width:1071px){

    .containerCarrito a img{

        height: 150px;
        width: 150px;

    }

    .danger{

        width: 110px;
        font-size: 12px;


    }

    .overflow-pago{

        /* background-color: aqua; */
        width: 85%;
        margin-left: 57px;

    }

    .Container-Pago img{

        width: 65px;
        height: 65px;

    }

    .Nombre-Producto-Pago{

        font-size: 13px;

    }

    .Cantidad-selecta-pago{

        font-size: 12px;

    }

    .PrecioTotal-Pago{

        font-size: 13px;

    }

    .Precio-Mayor-Pago{


        font-size: 11px;

    }

    .container-datos label{

        font-size: 14px;

    }

    .container-checkbox-Pago{

        font-size: 12px;

    }

    .container-datos{

        width: 89%;

    }
}

@media (max-width:1025px) {

    .login-registro h1{

        font-size: 28px;

    }

    .texto{

        font-size: 13px;
        margin-top: 20px;
    }

    .login-registro img{

        width: 250px;
        height: 150px;

    }

    .text{

        font-size: 14px;

    }

    .line{

        /* width: 100%; */

        margin-right: 3px;
        margin-left: 3px;

    }

    .plantillaform{


        width: 70%;
        /* margin-left: 100px; */

    }

    .plantillaform h1{

        font-size: 30px;

    }

    .botonlogin{

        height: 55px;

    }

    .boton-login{

        margin-top: 0px;
        width: 150px;       
        
    }

    .cajaProducto{

        width: 100%;

    }
    
}

@media (max-width:995px){

    .plantillaform{


        width: 75%;
        /* margin-left: 100px; */

    }

}

@media (max-width:956px){

    .container-opciones{

        width: 90%;
        margin-left: 6%;


    }

    .elementoA{

        padding: 8px;
        margin-top: 10px;
        
    }

    .Overflow-carrito h5{

        font-size: 15px;

    }

    .especificacionesCarrito h5{

        font-size: 15px;

    }

    .CantidadDisponible{

        font-size: 12px;

    }

    .carritoCompra h5{

        font-size: 13px;

    }

}

@media (max-width:945px){

    .Total-Compra-Pago{

        font-size: 28px;
        margin-bottom: 7px;

    }

    .Container-absolute-Pago span{

        font-size: 12px;

    }


    .overflow-pago{

        width: 88%;
        margin-left: 47px;

    }

    .Precio-Mayor-Pago{

        font-size: 10px;

    }

    .container-datos{

        margin-bottom: 34px;

    }

    .Contenedor-DatosImportantes{

        width: 80%;

    }

    .CreadoPor h3{

        font-size: 22px;

    }

    .CreadoPor p{

        font-size: 17px;

    }

    .TecnologiasEmpleadas h3{

        font-size: 22px;

    }

    .Tecnologias img{

        height: 40px;
        width: 40px;

    }

    .RedesSociales h3{

        font-size: 22px;

    }

    .Redes a{

        font-size: 17px;

    }

}

@media (max-width:895px){


    .login-registro h1{

        font-size: 25px;

    }

    .enlace{

        width: 150px;
        height: 40px;
        line-height: 40px;
        font-size: 15px;

    }

    .text{

        font-size: 12px;

    }

    .texto{

        margin-left: 0px;
        margin-top: 40px;
        font-size: 11px;
     
    }

    .login-registro img{

        width: 200px;
        height: 100px;

    }

    .plantillaform{


        width: 80%;
        /* margin-left: 100px; */

    }

    .Busqueda img{

        width: 150px;
        height: 150px;

    }

    .precio{

        font-size: 28px;

    }

    .infoProducto h3{

        font-size: 25px;

    }

    .precioProducto{

        font-size: 21px;

    }

    .ProductoBoton{

        width: 110px;
        height: 45px;
        font-size: 13px;

    }

    .Stock{

        margin-left: 0px;

    }

}

@media (max-width:866px){

    .containerCarrito{

        height: 180px;

    }

    .containerCarrito a img{

        height: 100px;
        width: 100px;

    }

    .Overflow-carrito h5{

        font-size: 13px;

    }

    .especificacionesCarrito h5{

        font-size: 13px;

    }

    .CantidadDisponible{

        font-size: 10px;

    }

    .carritoCompra h5{

        font-size: 11px;

    }

    .danger{

        width: 95px;
        font-size: 10px;


    }

}

@media (max-width:842px){


    .container-opciones{

        width: 100%;
        margin-left:1%;

    }


    .login-registro h1{

        font-size: 22px;

    }


    .plantillaform{


        width: 85%;
        /* margin-left: 100px; */

    }

    .apellido{

        margin-left: 2%;


    }

    .datoflex:first-child{

        margin-right: 3%;

    }

    .container-productos-pago{

        height: 640px;

    }

    .Container-relative-Pago{

        height: 112px;

    }

    
    .proceso-pago{

        margin-top: 4px;

    }

    .input-txt{

        font-size: 13px;

    }

    #Boton-Compra{

        width: 190px;
        height: 41px;

    }

    .container-checkbox-Pago{

        font-size: 10px;

    }

    .overflow-pago{

        width: 99%;
        margin-left: 0px;

    }

    .Container-Pago img{


        height: 55px;
        width: 55px;

    }

    .Nombre-Producto-Pago{

        font-size: 11px;

    }

    .Cantidad-selecta-pago{

        font-size: 10px;

    }

    .PrecioTotal-Pago{

        font-size: 11px;

    }


    .Precio-Mayor-Pago{

        font-size: 9px;

    }

}

@media (max-width:786px){

    
    .elementoA{

        margin-top: 24px;

    }

    .elementoA h2{

        font-size: 24px;

    }

    .elementoA p{

        font-size: 13px;

    }

    .elementoB img{

        height: 100px;
        width: 100px;
        margin-top: 40px;
        margin-right: 10px;

    }

    /* #buscador{

        width: 70%;
        
    } */

}

@media (max-width:755px){

    .cajaProducto{

        height: 350px;

    }

    .Busqueda{

        width: 44%;

    }

    .Flex-producto img{

        width: 180px;
        height: 180px;

    }

    .infoProducto h3{

        font-size: 22px;


    }

    .precioProducto{

        font-size: 19px;

    }

    .infoProducto form p{

        font-size: 12px;

    }

    .Selector-producto{

        width: 28px;
        height: 18px;

    }

    .Stock{

        font-size: 12px;

    }

    .ProductoBoton{

        width: 95px;
        height: 35px;
        line-height: 35px;
        font-size: 10px;

    }

}

@media (max-width:726px){

    .CarritoDbox{

        flex-direction: column;

    }

    .containerProductos{

        width: 100%;

    }

    .containerCarrito{

        width: 100%;

    }

    .containerCarrito a img{

        height: 115px;
        width: 115px;

    }

    .containerRelative{

        width: 95%;

    }

    .carritoCompra{

        width: 100%;

    }

    .CantidadDisponible{

        font-size: 13px;

    }

    .carritoCompra h5{

        font-size: 13px;

    }

    .Contenedor-DatosImportantes{

        width: 89%;

    }

}

@media (max-width:700px){


    .login-registro h1{

        font-size: 20px;

    }

    .enlace{

        width: 130px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;

    }

    .texto{

        
        font-size: 9px;
     
    }

    .plantillaform{


        width: 92%;
        /* margin-left: 100px; */

    }

    .apellido{

        margin-right: 20px;


    }

    .BusquedaErronea-buscador img{


        height: 350px;
        width: 350px;


    }

}


@media (max-width:686px){

    .elementoA{

        margin-top: 24px;

    }

    .elementoA h2{

        font-size: 22px;

    }

    .elementoA p{

        font-size: 11px;
        /* font-weight: bold; */
        letter-spacing: 1px;

    }

}

@media (max-width:655px){

    .container-productos-pago{

        flex-direction: column;
        height: auto;
        align-items: center;

    }

    .Container-absolute-Pago{

        left: 1%;

    }

    .Container-Pago img{

        height: 65px;
        width: 65px;

    }

    .Visualizar-Productos{

        width: 80%;
        height: auto;

    }

    .proceso-pago{

        width: 79%;
        height: 500px;

    }

    .overflow-pago{

        height: auto;

    }

    #email-error,#tarjeta-error,#usuario-error{

        font-size: 12px;

    }

}

@media (max-width:650px){

    .login-registro h1{

        font-size: 17px;

    }

    #nombre, #apellido,#user,#password{

        width: 185px;

    }

    .plantillaform{

        width: 92%;

    }

    .login{


        width: 70%;
        /* margin-left: 100px; */

    }

}

@media (max-width:625px){

   

    .presentacionInicio{

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .login-registro{

        /* background-color: red; */
        margin-top: 0px;
        width: 100%;

    }

    .login-registro h1{

        font-size: 24px;

    }

    .enlace{

        width: 250px;
        height: 40px;
        line-height: 40px;
        font-size: 12px;

    }

    .login-registro img{

        width: 300px;
        height: 200px;

    }

    .texto{

        font-size: 15px;
        height: auto;
        margin-top: 10px;
        margin-left: 20px;
        /* margin-bottom: 100px; */
        /* padding-left: 0px; */

    }

    .plantillaform{


        width: 92%;
        /* margin-left: 100px; */

    }

    .login{


        width: 75%;
        /* margin-left: 100px; */

    }

    .container-opciones{

        margin-left: 2%;

    }

    .opciones{

        flex-direction: column;

    }

    .cajita{

        width: 90%;
        margin-bottom: 20px;

    }

    .elementoA{

        margin-top: 24px;

    }

    .elementoA h2{

        font-size: 24px;

    }

    .elementoA p{

        font-size: 14px;
        /* font-weight: bold; */
        letter-spacing: 0px;

    }

    .Contenedor-DatosImportantes{

        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .Contenedor-DatosImportantes div{

        margin-bottom: 10px;

    }

}

@media (max-width:594px) {
    

    #nombre, #apellido,#user,#password{

        width: 170px;

    }

    .infoProducto h3{

        font-size: 20px;


    }

    .precioProducto{

        font-size: 18px;

    }

    .infoProducto form p{

        font-size: 10px;

    }

    .Stock{

        font-size: 10px;

    }

    .containerCarrito a img{

        height: 95px;
        width: 95px;

    }

    .Overflow-carrito h5{

        font-size: 12px;

    }

    .especificacionesCarrito h5{

        font-size: 12px;

    }

    .CantidadDisponible{

        font-size: 10px;

    }

}

@media (max-width:535px){

    .containerCarrito a img{

        height: 90px;
        width: 90px;

    }

    .Overflow-carrito h5{

        font-size: 10px;

    }

    .especificacionesCarrito h5{

        font-size: 10px;

    }

    .danger{

        width: 85px;
        font-size: 8px;

    }

}

@media (max-width:550px) {
    

    #nombre, #apellido,#user,#password{

        width: 155px;

    }

    .Busqueda{

        height: 300px;

    }

    .Busqueda img{

        width: 100px;
        height: 100px;

    }

    .enlaceProducto{


        font-size: 14px;

    }

    .precio{

        font-size: 25px;

    }

    .ProductoBoton{

        font-size: 8px;

    }

    /* #buscador{

        width: 100%;
        
    } */

}

@media (max-width:490px){

    .elementobase{

        margin-right: 10px;

    }

    .titulobase{

        margin-left: 10px;

    }

    .titulino a{


        font-size: 25px;        

    }

    .enlaceBase {
        /* background-color: red; */
        font-size: 15px;

    }

    .login-registro h1{

        font-size: 20px;

    }

    .login-registro img{

        width: 250px;
        height: 150px;

    }

    .texto{

        /* font-weight: bold; */
        letter-spacing: 1px;
        font-size: 11px;
     
    }


    .login{

        width: 80%;

    }

    .plantillaform{


        width: 80%;
        height: 660px;
        
        /* margin-left: 100px; */

    }

    .plantillaform h1{

        font-size: 25px;

    }

    .flexform{

        display: flex;
        flex-direction: column;

    }

    .apellido{

        margin-top: 30px;

    }

    #buscador::placeholder{

        font-size: 14px;

    }

    .BusquedaErronea-buscador img{


        height: 250px;
        width: 250px;


    }

    .BusquedaErronea-buscador h5{


        font-size: 20px;


    }


    .Flex-producto img{

        width: 150px;
        height: 150px;

    }

    .infoProducto h3{

        font-size: 18px;


    }

    .precioProducto{

        font-size: 16px;

    }

    .containerCarrito{

        flex-direction: column;
        height: 313px;
        align-items: center;

    }

    .containerCarrito a img{

        height: 110px;
        width: 110px;

    }

    .Overflow-carrito h5{

        font-size: 14px;

    }

    .especificacionesCarrito{

        margin-top: 10px;
        margin-left: 0px;

    }

    .especificacionesCarrito h5{

        font-size: 14px;

    }

    .danger{

        width: 100px;
        font-size: 10px;

    }

}

@media (max-width:462px){


    .cajaProducto{

        flex-direction: column;
        height: 450px;

    }

    .Overflow-producto{

        display: flex; 
        align-items:center; 
        justify-content:center;

    }

    .Flex-producto{

        width: 100%;
        height: 217px;
        /* margin-bottom: 50px; */

    }

    .infoProducto{

        align-items: center;

    }

    .infoProducto form p{

        margin-left: 20px;
        font-size: 11px;
    }

    .Selector-producto{

        width: 34px;

    }

    .ProductoBoton{

        font-size: 11px;

    }

}   

@media (max-width:430px){

    .carritoTitulo{

        font-size: 28px;

    }

    .containerCarrito{

        flex-direction: column;
        height: 350px;
        align-items: center;

    }

    .Overflow-carrito h5{

        font-size: 12px;

    }

    .especificacionesCarrito h5{

        font-size: 12px;

    }

    .Visualizar-Productos{

        width: 100%;

    }

    .proceso-pago{

        width: 100%;

    }

}

@media (max-width:420px){


    .Busqueda{

        width: 100%;
        
    }

    .Busqueda img{

        width: 150px;
        height: 150px;

    }

    .enlaceProducto{


        font-size: 12px;

    }

    .precio{

        font-size: 28px;

    }


    .Busqueda p{

        margin-bottom: 0px;

    }

}

@media (max-width:410px){

    .login-registro h1{

        font-size: 18px;

    }

    .enlace{

        width: 200px;
        height: 40px;
        line-height: 40px;
        font-size: 12px;

    }
    
    .elementobase{

        margin-right: 10px;

    }

    .enlaceBase{

        margin-left: 20px;

    }

    .plantillaform{


        width: 85%;
        /* margin-left: 100px; */

    }

    #buscador::placeholder{

        font-size: 12px;

    }

    .CantidadDisponible{

        font-size: 8px;

    }

}

@media (max-width:372px){


    .login-registro h1{

        font-size: 16px;

    }

    .enlaceBase{

        font-size: 12px;

    }

    .enlace{

        width: 150px;
        height: 40px;
        line-height: 40px;
        font-size: 12px;

    }

    .plantillaform{


        width: 90%;
        /* margin-left: 100px; */

    }

    .datoflex label{

        font-size: 13px;

    }

    .tituloBuscador{

        font-size: 33px;

    }

}

@media (max-width:338px){

    .login-registro h1{

        font-size: 14px;

    }


    .elementoA p{

        font-size: 12px;

    }

    .containerCarrito{

        height: 370px;

    }

}